body{
			background-color: #D8DA3D;
			color: #80007E;

		}
		.menu
		{
			float: left;
		}
		ul{
			
			list-style: none;
			width: 200px;
			margin-top: 40px;
		}
		ul li
		{
			font-size: 18px;
			margin-top: 9px;	
			padding: 5px;
			background-color: white;
			border-right: 20px solid black;
		}
		/* main class contains css property of right section */
		.main {
			width: 79%;
			float: right;

			}

			h1{
				font-family: sans-serif;
			}
			hr{
				margin-top: 50px;
				border-style: dotted;
			}

			.end{
				font-style: italic;
			}
	</style>