body{
	background-color: #D8DA3D;
	color: #80007E;

}
/* css property for left section */
.menu
{
	float: left;
}
/* ul list for all the w3schools courses*/
ul{

	list-style: none;
	width: 200px;
	margin-top: 40px;
}
ul li
{
	font-size: 18px;
	margin-top: 9px;	
	padding: 5px;
	background-color: white;
	border-right: 20px solid black;
}
/* main class contains css property of right section */
.main {
	width: 79%;
	float: right;

}

h1{
	font-family: sans-serif;
}
/* for horizontal line */
hr{
	margin-top: 50px;
	border-style: dotted;
}
/* for last paragraph in right section*/
.end{
	font-style: italic;
}
