/* it contain all the section of the webpage*/
.main{
	width: 800px;
	height: 500px;
	border: 1px solid black;
	padding-top: 0px

}
/*end */
/* it contain css property of header section*/
.header{
	border: 2px solid black;
	background-color:  #FF9999;
	padding-top: 10px;
}
.header_first{
	
	font-size: 32px;
	padding: 0px 100px 0px 120px;
}
.header_second{

	font-size: 20px;
	padding: 30px 20px 50px 80px;
}
/*end*/
/*it contain css property of left side section*/
.aside{
	background-color: yellow;

	float: left;
	width: 600px;
	height: 308px;
}
/*end*/
/*it contain css property of right side section*/
.section{

	text-align: center;
	float: right;
	width: 200px;
	height: 308px;
	background-color: #ECECFB;
}
/*end*/